<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AutoSTATS</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Projects", "/projects"  %></li>
              <li><%= link_to "Releases", "/releases"  %></li>
              <li><%= link_to "Runs", "/runs"  %></li>
              <li><%= link_to "Trends", "/trends"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</header>